.Battery{

    display: grid;
    grid-template-columns: 20%   80%;
 


 
  





}
.hour-div{
    padding-top: 10%;
    margin-left: 50%;
    font-size: 1rem;
    font-weight: bolder
}

.infophone-div{
   
   >img{
       margin-left: 65%;
    width: 30%;
   } 
}