.Faceid {


    >img {
        width      : 60%;
        margin-left: 20%;
        margin-top : 30%;
    }

    >p {
        font-family: 'Poppins';
        font-style : normal;
        font-weight: 400;
        font-size  : 18px;
        line-height: 28px;
        text-align: center;
        color: #65666A;
    }
}