.InfoRegisterUser {
    display       : flex;
    flex-direction: column;
    margin        : 60% auto 0 auto;
    width         : 85%;
    font-weight   : bolder;

    >label {
        font-family: 'Poppins';
        font-style : normal;
        font-weight: 400;
        font-size  : 22px;
        line-height: 36px;
    }

    >div {
        display      : flex;
        padding      : 3%;
        margin-bottom: 6%;
        width        : 100%;
        border       : 1.5px solid #B3B3B3;
        box-sizing   : border-box;
        border-radius: 4px;

        >input {
            margin-left: 15px;
            outline    : none;
            border     : 0;
        }
    }


    >button {
        margin-top   : 40px;
        border-style : none;
        background   : #009E9E;
        padding      : 8px;
        color        : white;
        border       : 1.5px solid #B3B3B3;
        box-sizing   : border-box;
        border-radius: 4px;
    }

    >button:active {
        background: #004747;
    }

}

.titleCreate {
    position   : absolute;
    width      : 253px;
    height     : 36px;
    left       : 30px;
    top        : 140px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size  : 28px;
    line-height: 36px;
}

::placeholder {
    color: #C8C8C8;
}

.icons {
    width : 22px;
    height: 24px;

    left: 40px;
}

.ihome {
    top: 250px;
}

.iname {
    top: 355px;
}

.itlf {

    top: 455px;

}

.iage {

    top: 560px;

}